<template>
  <v-jumbotron light gradient="to top, #7B1FA2, #E1BEE7">
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-3">Добро пожаловать на сайт!</h3>

          <span class="subheading">Русский шрифт, чтобы знать, как это выглядит на кириллице.</span>

          <v-divider class="my-3"></v-divider>


          <v-btn
            class="mx-0"
            color="primary"
            large
            style ="background-color: #1CA28A; color:#fff"
          >
            See more
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-3">Новости</h3>

          <span class="subheading">Русский шрифт, чтобы знать, как это выглядит на кириллице.</span>

          <v-divider class="my-3"></v-divider>
          <v-btn
            class="mx-0"
            color="primary"
            large
            style ="background-color: #1CA28A; color:#fff"
          >
            See more
          </v-btn>
          

        </v-flex>
      </v-layout>
    </v-container>
<v-container fill-height>
      <v-layout align-center>
        <v-flex>
          <h3 class="display-3">Новости</h3>

          <span class="subheading">Русский шрифт, чтобы знать, как это выглядит на кириллице.</span>

          <v-divider class="my-3"></v-divider>
          <v-btn
            class="mx-0"
            color="primary"
            large
            style ="background-color: #1CA28A; color:#fff"
          >
            See more
          </v-btn>
          

        </v-flex>
      </v-layout>
    </v-container>

  </v-jumbotron>
</template>

<script>
  export default {
    computed: {
      meetups () {
        return this.$store.getters.featuredMeetups
      },
      loading () {
        return this.$store.getters.loading
      }
    },
    methods: {
      onLoadMeetup (id) {
        this.$router.push('/meetups/' + id)
      }
    }
  }
</script>

<style scoped>
  .title {
    position: absolute;
    bottom: 50px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 2em;
    padding: 20px;
  }
</style>
